*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
.column{
     width: 30%;

     display: inline-block;
     
}
.box{
     width: 200px;
     height: 200px;
     background-color: chartreuse;
}
@media screen and (max-width:1200px) {
     .box{
          display: inline-block;
          background-color: chartreuse;
     }
}
@media screen and (max-width:768px){
     .box{
          display: inline-block;
          background-color: coral;
     }
}
@media screen and (max-width:450px){
     .box{
          display: inline-block;
          background-color: darkblue;
     }
}
